.order-cart-table {
    margin-top: 45px;
  }
  
  .order-cart-table .total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
  }
  
  .order-cart-table button {
    margin-left: 5px;
    margin-top: 5px;
  }